Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-10, with the labels that each got.

#272 Linking with sentencepiece_train
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#271 [CI] Use commit hashes as action versions
  .github/workflows/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/sdl.yml
  .github/workflows/windows.yml
Labels: CI

#273 fix calling PCRE2
  src/utils.cpp
Labels: bug, tokenizers_cpp

#259 [GHA] Use openvino provider
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .gitignore
Labels: CI

#282 Fixed copy-paste issue
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#286 use fields instead of __match_args__
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/utils.py
  tests/tokenizers_test.py
Labels: bug, tokenizers_py, tokenizers_test

#288 Fix pass rate CI check
  .github/workflows/linux.yml
Labels: CI

#277 [CI] Changed ov wheels path
  .github/workflows/mac.yml
Labels: CI

#289 [GHA] Request wheels from OV provider explicitly
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: CI

#291 fix "Fix Split Mode Names #269" degradation
  python/openvino_tokenizers/tokenizer_pipeline.py
Labels: bug, tokenizers_py

#267 Add Charsmap Operation
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  src/case_fold.cpp
  src/charsmap_normalization.cpp
  src/charsmap_normalization.hpp
  src/ov_extension.cpp
  src/tokenizer.hpp
  tests/__init__.py
  tests/layer_tests.py
  tests/tokenizers_test.py
  tests/utils.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test, Code Freeze

#292 add packages versions to rt_info
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/utils.py
Labels: enhancement, tokenizers_py

#281 Improve BPE
  src/bpe_tokenizer.cpp
  src/bpe_tokenizer.hpp
  src/regex_normalization.cpp
Labels: bug, tokenizers_cpp, Code Freeze

#295 disable UTF validation in PCRE2
  src/utils.cpp
Labels: bug, tokenizers_cpp

#296 Drop 3.8 python and add 3.13
  pyproject.toml
Labels: build

#300 Fix RegexSplit Segfault
  benchmark/benchmark.py
  src/regex_split.cpp
  tests/layer_tests.py
Labels: tokenizers_cpp, tokenizers_test

#303 fix evaluate in concurrent scenario
  src/bpe_tokenizer.cpp
  src/bpe_tokenizer.hpp
  src/charsmap_normalization.cpp
  src/charsmap_normalization.hpp
  src/regex_normalization.cpp
  src/regex_normalization.hpp
  src/regex_split.cpp
  src/regex_split.hpp
  src/sentence_piece.cpp
  src/sentence_piece.hpp
  src/trie_tokenizer.cpp
  src/trie_tokenizer.hpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
Labels: bug, tokenizers_cpp

#305 Build w/l FastTokenizers
  src/charsmap_normalization.cpp
  src/ov_extension.cpp
  src/regex_split.cpp
  src/sentence_piece.cpp
  src/sentence_piece.hpp
  src/string_to_hash_bucket.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp, Code Freeze

#307 Use PCRE2 Compatible Regex Pattern
  src/regex_normalization.cpp
Labels: tokenizers_cpp
