Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-03, with the labels that each got.

#42 Add String Mapping Op
  README.md
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/bpe_tokenizer.cpp
  src/ov_extension.cpp
  src/regex_normalization.hpp
  src/regex_split.cpp
  src/regex_split.hpp
  src/sentence_piece.cpp
  src/tensorflow_translators.cpp
  src/tokenizer.hpp
  src/utils.cpp
  src/vocab_decoder.cpp
  src/vocab_decoder.hpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
  src/wordpiece_tokenizer.cpp
  tests/pass_rates.json
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#47 [TF FE] Add conversion extension for LookupTableFind operation
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#50 [TF FE] Add support of string keys for LookupTableFindV2
  src/tensorflow_translators.cpp
Labels: tokenizers_cpp

#51 Switch on TF FE extensions build in GHA
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#52 Fix build on ubuntu18 arm platform
  src/vocab_encoder.cpp
Labels: tokenizers_cpp

#53 Generates list of 'Parameter' instead of 'Output' for remaining_inputs.
  python/openvino_tokenizers/utils.py
Labels: tokenizers_py

#49 Add RaggedToSparse Op
  src/ov_extension.cpp
  src/ragged_to_sparse.cpp
  src/ragged_to_sparse.hpp
  src/tokenizer.hpp
Labels: tokenizers_cpp

#59 [TF FE] Support StringSplitV2 operation
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#60 [WHEEL] Simplify test deps
  pyproject.toml
Labels: dependencies, category: build

#62 Update pyproject.toml to reflect support of python 3.12
  pyproject.toml
Labels: build

#57 Cherry-Pick From Master
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  README.md
  python/openvino_tokenizers/utils.py
  src/CMakeLists.txt
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: category: CI, dependencies, category: tokenizers_test, category: tokenizers_cpp, category: build, category: tokenizers_py

#65 [TF FE] Support RaggedTensorToTensor operation
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#67 [TF FE] Add named output tensors support for StringSplitV2 operation
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#70 [TF FE] Extend conversion for RaggedTensorToTensor in case rowids format and introduce Equal for 1D string tensors
  src/equal_str.cpp
  src/equal_str.hpp
  src/ov_extension.cpp
  src/ragged_to_ragged.cpp
  src/ragged_to_ragged.hpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
  src/tokenizer.hpp
Labels: tokenizers_cpp

#64 Ported master fixes
  README.md
  pyproject.toml
  python/openvino_tokenizers/hf_parser.py
  tests/pass_rates.json
Labels: dependencies, category: tokenizers_test, category: build, category: tokenizers_py

#69 [CI] Prebuild openvino packages
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#73 [CI] Ported Prebuild openvino packages (#69)
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: CI, dependencies

#74 [CI] Ported to 2024 release: Prebuild openvino packages (#69)
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: category: CI, dependencies

#76 [CI] Fix macOS tests
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#63 [Wheel] Changed dependencies
  pyproject.toml
Labels: build

#75 Update Sentencepiece to 0.2.0
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#79 Correct EqualStr in case empty strings
  src/equal_str.cpp
Labels: tokenizers_cpp

#77 [TESTS] updated pass rate
  tests/pass_rates.json
Labels: tokenizers_test

#82 MERGE 2023: [TESTS] updated pass rate (#77)
  tests/pass_rates.json
Labels: dependencies, category: tokenizers_test

#81 MERGE 2024: [TESTS] updated pass rate (#77)
  tests/pass_rates.json
Labels: dependencies, category: tokenizers_test

#72 Revert "[CI] Temporary removed OpenVINODeveloperPackage" #26
  CMakeLists.txt
Labels: build

#84 [WHEEL] Support of OV nightly packages
  pyproject.toml
Labels: build

#85 Fix corner case with empty string for EqualStr
  src/equal_str.cpp
Labels: tokenizers_cpp

#88 Merge master PRs to 2024 branch
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  pyproject.toml
  src/CMakeLists.txt
Labels: category: CI, dependencies, category: tokenizers_cpp, category: build

#80 Make CaseFold ASCII Encoding Similar To TF
  src/case_fold.cpp
Labels: tokenizers_cpp

#83 Update Tokenizer Caching
  src/bpe_tokenizer.cpp
  src/bpe_tokenizer.hpp
  src/regex_normalization.cpp
  src/regex_normalization.hpp
  src/regex_split.cpp
  src/regex_split.hpp
  src/sentence_piece.cpp
  src/sentence_piece.hpp
  src/wordpiece_tokenizer.cpp
  src/wordpiece_tokenizer.hpp
Labels: tokenizers_cpp

#90 Use constant 0 as mask hide token
  python/openvino_tokenizers/hf_parser.py
Labels: tokenizers_py

#91 Add RWKV Tokenizer Op
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/str_pack.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  src/fuze.cpp
  src/fuze.hpp
  src/ov_extension.cpp
  src/tokenizer.hpp
  src/trie_tokenizer.cpp
  src/trie_tokenizer.hpp
Labels: tokenizers_cpp, tokenizers_py
