Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-06, with the labels that each got.

#155 Package into correct dirs
  README.md
  pyproject.toml
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#162 Build release by default
  CMakeLists.txt
Labels: build

#163 Build release by default (#162)
  CMakeLists.txt
Labels: build

#164 Fixed conda-forge on Windows
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#165 Fixed conda-forge on Windows (#164)
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#173 Fix Tokenization of Special Tokens in Sentencepiece
  python/openvino_tokenizers/hf_parser.py
Labels: tokenizers_py

#152 Add Left Padding and Padding to Max Length
  README.md
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/ragged_to_dense.cpp
  src/ragged_to_dense.hpp
  tests/conftest.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#174 Cherry Pick For Release
  README.md
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/ragged_to_dense.cpp
  src/ragged_to_dense.hpp
  tests/conftest.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#166 New python build scheme
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  cmake/templates/__version__.py.in
  pyproject.toml
  requirements-build.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#176 Sentencepiece Tokenization Improvements
  README.md
  python/openvino_tokenizers/hf_parser.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_py, tokenizers_test

#175 Configure cmake similar to GenAI
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#179 [CI] Use OV 2024.2.0 tarballs
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#180 Configure cmake similar to GenAI (#175)
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#187 Fix Decoding For Long Tokens
  README.md
  src/sentence_piece.cpp
  src/vocab_decoder.cpp
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_test
