Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-04, with the labels that each got.

#95 Revert "Add RWKV Tokenizer Op"
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/str_pack.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  src/fuze.cpp
  src/fuze.hpp
  src/ov_extension.cpp
  src/tokenizer.hpp
  src/trie_tokenizer.cpp
  src/trie_tokenizer.hpp
Labels: tokenizers_cpp, tokenizers_py

#94 Fix Vector Init
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/str_pack.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  src/fuze.cpp
  src/fuze.hpp
  src/ov_extension.cpp
  src/tokenizer.hpp
  src/trie_tokenizer.cpp
  src/trie_tokenizer.hpp
Labels: tokenizers_cpp, tokenizers_py

#102 Add forceRunPrecommitScope param to Jenkinsfile
  Jenkinsfile
Labels: CI

#103 [TF FE] Extend RaggedTensorToSparse conversion extension
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#106 Add Cache to VocabEncoder
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
Labels: tokenizers_cpp

#110 Install torch CPU
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#112 Cherry-Pick From Master
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  tests/tokenizers_test.py
Labels: tokenizers_py, tokenizers_test

#114 Port qwen eos token to 2024.0
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  tests/tokenizers_test.py
Labels: dependencies, category: tokenizers_test, category: tokenizers_py

#115 [TF FE] Support StringToHashBucketFast operation
  src/ov_extension.cpp
  src/string_to_hash_bucket.cpp
  src/string_to_hash_bucket.hpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
  src/tokenizer.hpp
Labels: tokenizers_cpp

#105 [CI]Changed openvino version 2024.2
  pyproject.toml
Labels: build

#116 Add Missing .model File Error
  python/openvino_tokenizers/hf_parser.py
Labels: tokenizers_py

#117 [TF FE] Optimize EqualStr operation
  src/equal_str.cpp
Labels: tokenizers_cpp

#120 [TF FE] Extend support for LookupTableFindV2 with string keys
  src/tensorflow_translators.cpp
Labels: tokenizers_cpp

#121 [TF FE] Support StringSplitV2 with positive maxplit attribute
  src/tensorflow_translators.cpp
Labels: tokenizers_cpp

#124 [CI] Use OV released 2024.1 packages
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI
