Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-08, with the labels that each got.

#211 Avoid installation of PRCE2 artifacts together with OpenVINO Tokenizers
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#212 Set minimal supported OpenVINO version
  CMakeLists.txt
Labels: build

#213 Conda forge fixes for 2024.3
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#217 Conda forge fixes for 2024.3 (#213)
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#221 Use setupvars.ps1 on Windows
  .github/workflows/windows.yml
Labels: CI

#219 Ops Optimization
  .github/workflows/mac.yml
  benchmark/benchmark.py
  src/CMakeLists.txt
  src/equal_str.cpp
  src/utils.cpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
Labels: tokenizers_cpp, CI, build

#222 Revert "Ops Optimization"
  .github/workflows/mac.yml
  benchmark/benchmark.py
  src/CMakeLists.txt
  src/equal_str.cpp
  src/utils.cpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
Labels: tokenizers_cpp, CI, build

#226 Revert "Revert "Ops Optimization (#219)" (#222)"
  .github/workflows/mac.yml
  benchmark/benchmark.py
  src/CMakeLists.txt
  src/equal_str.cpp
  src/utils.cpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
Labels: tokenizers_cpp, CI, build

#223 Fix segfault in PCRE2
  src/utils.cpp
  src/utils.hpp
Labels: tokenizers_cpp

#227 [TF FE][Tokenizers] Avoid dependency from TF FE in tokenizers
  src/CMakeLists.txt
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp, build

#229 Ensure that oneTBB is found
  .github/workflows/linux.yml
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#230 Use OV threading backend instead of direct TBB
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#231 Fix Segfault on Mac
  src/utils.cpp
Labels: bug, tokenizers_cpp

#232 [TF FE][Tokenizers] Optimize TF FE extensions
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#233 Fix infinite loop in split for empty split_pattern
  src/regex_split.cpp
Labels: bug, tokenizers_cpp

#236 [Cmake] Usage of explicit openvino::threading
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#237 Enabled build w/o FastTokenizers
  src/CMakeLists.txt
  src/case_fold.cpp
  src/case_fold.hpp
  src/normalize_unicode.cpp
  src/normalize_unicode.hpp
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
  src/tokenizer.hpp
  src/wordpiece_tokenizer.cpp
  src/wordpiece_tokenizer.hpp
Labels: tokenizers_cpp, build

#238 Bump product version to 2024.5
  CMakeLists.txt
  pyproject.toml
Labels: build

#239 [CMAKE] Don't theow on version check if tokenizers is submodule
  CMakeLists.txt
Labels: build

#240 Fixed errors during Android build
  src/ragged_to_ragged.cpp
  src/ragged_to_sparse.cpp
Labels: tokenizers_cpp

#218 Win debug build
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  .gitignore
  CMakeLists.txt
  src/CMakeLists.txt
  src/icu4c.patch
  src/patches/fast_tokenizers.patch
  src/patches/glog.patch
  src/patches/icu.patch
Labels: tokenizers_cpp, CI, build

#245 Checked Android RISCV64 and adjusted cmake messages
  src/CMakeLists.txt
Labels: tokenizers_cpp, build
