Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-02, with the labels that each got.

#14 [CI] sdl tests
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/sdl.yml
Labels: category: CI, dependencies

#18 Release branch
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  pyproject.toml
Labels: category: CI, dependencies, category: build

#19 [CI] Aligned install rules
  .github/workflows/windows.yml
  src/CMakeLists.txt
Labels: category: CI, dependencies, category: tokenizers_cpp, category: build

#22 [CI] Exclude FetchContent targets
  src/CMakeLists.txt
Labels: category: tokenizers_cpp, category: build

#24 [CI] Temporary removed OpenVINODeveloperPackage
  CMakeLists.txt
Labels: category: build

#25 Ported master commits
  .github/workflows/windows.yml
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/CMakeLists.txt
Labels: category: CI, dependencies, category: tokenizers_cpp, category: build, category: tokenizers_py

#27 [TF FE] Del TF Translators
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: dependencies, category: tokenizers_cpp

#28 [CI] Added dependency_review check
  .github/dependency_review.yml
  .github/workflows/sdl.yml
Labels: category: CI, dependencies

#29 [CI] added dependabot config
  .github/dependabot.yml
  .github/workflows/sdl.yml
Labels: category: CI, dependencies

#31 Renamed back to user_ov_extensions for 2023.3
  README.md
  pyproject.toml
  python/openvino_tokenizers/__init__.py
  src/CMakeLists.txt
Labels: dependencies, category: tokenizers_cpp, category: build, category: tokenizers_py

#32 [TF FE] Add encoding Attribute to CaseFold Op
  README.md
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/case_fold.cpp
  src/case_fold.hpp
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#36 Fix ChatGLM Detokenization
  README.md
  python/openvino_tokenizers/hf_parser.py
  tests/pass_rates.json
Labels: tokenizers_py, tokenizers_test

#39 Fix Sentencepiece BOS Token Detection
  README.md
  python/openvino_tokenizers/hf_parser.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_py, tokenizers_test

#41 [TF FE][Extensions] Support StaticRegexReplace operation
  src/regex_normalization.cpp
  src/regex_normalization.hpp
  src/tensorflow_translators.cpp
  src/utils.cpp
  src/utils.hpp
Labels: tokenizers_cpp

#44 [TF FE][Extensions] Support StringLower operation
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#43 Cherry Pick For Release
  README.md
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/hf_parser.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: dependencies, category: tokenizers_test, category: tokenizers_py

#45 Refactor cmake, added C++17 as required
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#46 Use TensorFlow Conversion extension for TF FE translators
  CMakeLists.txt
  src/CMakeLists.txt
  src/ov_extension.cpp
Labels: tokenizers_cpp, build
