Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-11, with the labels that each got.

#310 Bump OV version 2025.0
  CMakeLists.txt
  pyproject.toml
Labels: build

#309 Add max_length Option to CLI Convert Tool
  python/openvino_tokenizers/cli.py
Labels: tokenizers_py

#313 [CI] fixed allow-licenses list
  .github/dependency_review.yml
Labels: CI

#316 Suppress warnings from 3rd party headers
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#321 [JS] Adopt cmake config for cpack generator = npm
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#322 Turn on UTF8Validate.REPLACE by default
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/constants.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  tests/layer_tests.py
Labels: enhancement, tokenizers_py, tokenizers_test

#326 Utf8 turn on
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/constants.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  tests/layer_tests.py
Labels: tokenizers_py, tokenizers_test

#327 Migrate to new new official py-build-cmake-version
  pyproject.toml
Labels: build
