Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-12, with the labels that each got.

#329 Reverted w/a with hardcoded paths
  .github/workflows/linux.yml
Labels: CI

#333 Port Fix For Llava Model To Release
  src/regex_normalization.cpp
  tests/layer_tests.py
Labels: tokenizers_cpp, tokenizers_test

#334 Print debug errors only if ENV VAR is set
  src/regex_normalization.cpp
  src/utils.cpp
  src/utils.hpp
Labels: enhancement, tokenizers_cpp

#336 Bump product version to 2024.6
  CMakeLists.txt
  pyproject.toml
Labels: build

#330 Update sdl.yml
  .github/workflows/sdl.yml
Labels: CI

#341 [MERGE][2024.6]Reverted w/a with hardcoded paths #329
  .github/workflows/linux.yml
Labels: CI

#342 GitHub workspace w/a in Windows workflow
  .github/workflows/windows.yml
Labels: CI

#343 GitHub workspace w/a on Windows (#342)
  .github/workflows/windows.yml
Labels: CI

#344 GitHub workspace w/a on Windows (#342)
  .github/workflows/windows.yml
Labels: CI

#337 Use RC1
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  pyproject.toml
Labels: CI, build

#346 Improvements for build
  .github/workflows/linux.yml
  pyproject.toml
Labels: CI, build

#338 Use released OpenVINO version
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  pyproject.toml
Labels: CI, build

#349 replace _get_node_factory_opset1 usage with _get_factory
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/hf_parser.py
Labels: bug, tokenizers_py

#350 [WHEEL] Set python_tag
  pyproject.toml
Labels: build

#352 [bug] Fix set tensor name for `attention_mask`
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
Labels: tokenizers_py

#357 Fix Issue With Added Tokens
  python/openvino_tokenizers/constants.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
Labels: tokenizers_py

#359 Support BART-G2P Tokenizer
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
Labels: tokenizers_py
