Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-05, with the labels that each got.

#123 [WHEEL] Freeze scikit-build-core version
  pyproject.toml
Labels: build

#132 [CONDA] Link sentencepiece with external protobuf
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#134 [MERGE] [CONDA] Link sentencepiece with external protobuf #132
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#135 Fix Windows linking
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#133 Llama3 Tokenizer Support
  README.md
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_py, tokenizers_test

#137 [MERGE] [WHEEL] Freeze scikit-build-core version #123
  pyproject.toml
Labels: build

#139 Version 2024.1.0.1
  CMakeLists.txt
  pyproject.toml
Labels: build

#138 [MERGE][2023.3][WHEEL] Freeze scikit-build-core version #123
  pyproject.toml
Labels: dependencies, category: build

#140 Ported conda-forge Windows linkage fixes
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#141 Fixed tokenizers on Windows
  src/CMakeLists.txt
Labels: bug, tokenizers_cpp, build

#143 Update Version To 2024.1.0.2
  CMakeLists.txt
  pyproject.toml
Labels: build

#142 Fixed tokenizers on Windows
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#146 Revert "Added Tokens Support for BPE Tokenizers"
  README.md
  python/openvino_tokenizers/str_pack.py
  python/openvino_tokenizers/tiktoken_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/bpe_tokenizer.cpp
  src/bpe_tokenizer.hpp
  src/regex_split.cpp
  src/regex_split.hpp
  src/tensorflow_translators.cpp
  tests/pass_rates.json
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#145 Support Punctuation Split
  README.md
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  tests/pass_rates.json
  tests/tokenizers_test.py
Labels: tokenizers_py, tokenizers_test

#150 Ability to use sentensepiece from conda-forge
  src/CMakeLists.txt
  src/case_fold.cpp
  src/normalize_unicode.cpp
  src/regex_normalization.hpp
  src/regex_split.cpp
  src/sentence_piece.cpp
  src/string_tensor_pack.cpp
  src/string_tensor_unpack.cpp
  src/utils.cpp
Labels: tokenizers_cpp, build

#151 Propagate _GLIBCXX_USE_CXX11_ABI
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#153 [CI] Temporary removed dependency version of OpenVINO
  pyproject.toml
Labels: build

#154 [CI] Changed openvino version 2024.3
  pyproject.toml
Labels: build

#157 Set cmake policies
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#156 Set cmake policies
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#159 Fix usage of protobuf_MODULE_COMPATIBLE
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#158 Fix usage of protobuf_MODULE_COMPATIBLE
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#161 Switch default skip tokens flag behavior
  README.md
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
Labels: tokenizers_py
