Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-09, with the labels that each got.

#248 Fixed BUILD_FAST_TOKENIZERS condition
  CMakeLists.txt
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#242 Add UTF-8 validation
  .github/workflows/linux.yml
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/constants.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/ov_extension.cpp
  src/tokenizer.hpp
  src/utf8_validate.cpp
  src/utf8_validate.hpp
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test, CI

#252 Fix constants import in cli.py
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
Labels: tokenizers_py

#255 Fixed manylinux build
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#254 Add UTF-8 validation
  .github/workflows/linux.yml
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/constants.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/ov_extension.cpp
  src/tokenizer.hpp
  src/utf8_validate.cpp
  src/utf8_validate.hpp
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: enhancement, tokenizers_cpp, tokenizers_py, tokenizers_test, CI

#256 Fixed manylinux build (#255)
  .github/workflows/mac.yml
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#257 fix memory issues
  src/bpe_tokenizer.cpp
  src/regex_split.hpp
  src/utf8_validate.cpp
  src/utils.cpp
Labels: bug, tokenizers_cpp

#260 Dynamic linking with msvc runtime
  src/CMakeLists.txt
  src/patches/fast_tokenizers.patch
Labels: tokenizers_cpp, build

#234 cmake 3.14
  CMakeLists.txt
  pyproject.toml
Labels: build

#262 Enabled Ninja build
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/CMakeLists.txt
  src/patches/fast_tokenizers.patch
  src/patches/gflags.patch
Labels: tokenizers_cpp, CI, build

#263 [VS2022] Support all build types
  src/patches/glog.patch
  src/patches/icu.patch
Labels: tokenizers_cpp

#266 Bump OV version to 2024.4.1
  CMakeLists.txt
  pyproject.toml
Labels: build

#265 Optimize CombineSegments (Old name: Set skip_special_tokens in runtime)
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/tokenizer_pipeline.py
Labels: enhancement, tokenizers_py

#261 [GHA] Use dynamic OV refs
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI
