Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2024-07, with the labels that each got.

#183 [CI] Build from OV wheel
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  CMakeLists.txt
  README.md
  pyproject.toml
Labels: CI, build

#189 [GHA] Set permissions read-all
  .github/workflows/labeler.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#190 Update Remaining Inputs Detection During Model Connection
  python/openvino_tokenizers/utils.py
Labels: tokenizers_py

#194 [2024.4.0.0] updated ov and tokenizers versions
  CMakeLists.txt
  pyproject.toml
Labels: build

#195 [CI] Fixed Jenkins artifacts
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  src/CMakeLists.txt
Labels: tokenizers_cpp, CI, build

#197 Add Separate Special Token Handling To Sentencepiece
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  src/sentence_piece.cpp
  src/sentence_piece.hpp
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#198 Add Separate Special Token Handling To Sentencepiece
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  src/sentence_piece.cpp
  src/sentence_piece.hpp
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#204 Port #195
  src/CMakeLists.txt
Labels: tokenizers_cpp, build
