Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-04, with the labels that each got.

#459 Check Binary Compatibility Before Patching
  python/openvino_tokenizers/__init__.py
Labels: tokenizers_py

#461 [ICU] Added crossplatform compilation flags
  cmake/external/icu.cmake
Labels: build

#462 Skip OpenVINO_DIR
  python/openvino_tokenizers/__init__.py
Labels: tokenizers_py

#464 [GHA] Improving caching
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#469 Ensure PCRE2 JiT is Available
  src/CMakeLists.txt
Labels: tokenizers_cpp, build
