Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-02, with the labels that each got.

#394 Update Normalization: attempt 2
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  README.md
  cmake/external/icu.cmake
  cmake/modules/FindICU.cmake
  cmake/platforms.cmake
  pyproject.toml
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/CMakeLists.txt
  src/case_fold.cpp
  src/case_fold.hpp
  src/charsmap_normalization.cpp
  src/charsmap_normalization.hpp
  src/icu_filter_en.json
  src/normalize_unicode.cpp
  src/normalize_unicode.hpp
  src/ov_extension.cpp
  src/patches/fast_tokenizers.patch
  src/patches/gflags.patch
  src/patches/glog.patch
  src/patches/icu.patch
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
  src/tokenizer.hpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
  tests/conftest.py
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test, CI, build

#395 Revert "Update Normalization: attempt 2"
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  README.md
  cmake/external/icu.cmake
  cmake/modules/FindICU.cmake
  cmake/platforms.cmake
  pyproject.toml
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/CMakeLists.txt
  src/case_fold.cpp
  src/case_fold.hpp
  src/charsmap_normalization.cpp
  src/charsmap_normalization.hpp
  src/icu_filter_en.json
  src/normalize_unicode.cpp
  src/normalize_unicode.hpp
  src/ov_extension.cpp
  src/patches/fast_tokenizers.patch
  src/patches/gflags.patch
  src/patches/glog.patch
  src/patches/icu.patch
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
  src/tokenizer.hpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
  tests/conftest.py
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test, CI, build

#396 [GHA] added OV TF tests
  .github/workflows/linux.yml
Labels: CI

#397 TF: dropped translate_squeeze_op
  src/ov_extension.cpp
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
Labels: tokenizers_cpp

#386 Turn on StringPack/Unpack on master from opset15: 3rd attempt
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/str_pack.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  src/regex_split.cpp
  src/string_tensor_pack.cpp
  src/string_tensor_pack.hpp
  src/string_tensor_unpack.hpp
  src/utils.cpp
  tests/layer_tests.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test

#401 Revert "Revert "Update Normalization""
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  README.md
  cmake/external/icu.cmake
  cmake/modules/FindICU.cmake
  cmake/platforms.cmake
  pyproject.toml
  python/openvino_tokenizers/tokenizer_pipeline.py
  src/CMakeLists.txt
  src/case_fold.cpp
  src/case_fold.hpp
  src/charsmap_normalization.cpp
  src/charsmap_normalization.hpp
  src/icu_filter_en.json
  src/normalize_unicode.cpp
  src/normalize_unicode.hpp
  src/ov_extension.cpp
  src/patches/fast_tokenizers.patch
  src/patches/gflags.patch
  src/patches/glog.patch
  src/patches/icu.patch
  src/tensorflow_translators.cpp
  src/tensorflow_translators.hpp
  src/tokenizer.hpp
  src/vocab_encoder.cpp
  src/vocab_encoder.hpp
  tests/conftest.py
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test, CI, build

#402 Del cerr
  src/case_fold.cpp
Labels: tokenizers_cpp

#403 [ICU] Support cmake < 3.16
  cmake/external/icu.cmake
Labels: bug, build

#111 [CI] tokenizers ccache
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#406 [CI] Introduced GHA Overall_Status job
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#400 [Coverity] Enabling coverity scan
  .github/workflows/coverity.yml
Labels: CI

#407 [MERGE][2025.0][GHA] Use OV provider on macOS
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#408 [MERGE][2025.0][CI] Introduced GHA Overall_Status job
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#362 Pass max_length to `convert_model`, add layer tests to RaggedToDense, CombineSegments
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/utils.py
  src/combine_segments.cpp
  src/combine_segments.hpp
  src/ragged_to_dense.cpp
  src/ragged_to_dense.hpp
  tests/conftest.py
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: enhancement, tokenizers_cpp, tokenizers_py, tokenizers_test

#412 [ICU] Do not use debug postfix on mac
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#411 Fix Skips Detection For CharsMap, Special Tokens Detection
  .github/workflows/linux.yml
  README.md
  python/openvino_tokenizers/utils.py
  src/charsmap_normalization.cpp
  tests/layer_tests.py
  tests/tokenizers_test.py
  third-party-programs.txt
Labels: tokenizers_cpp, tokenizers_py, tokenizers_test, CI

#414 Fixed compilation with external protobuf / abseil
  src/CMakeLists.txt
  src/charsmap_normalization.cpp
  src/normalize_unicode.cpp
Labels: tokenizers_cpp, build

#416 [ICU] Copy icu artifacts
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#405 Change ConversionExtension to tensorflow::ConversionExtension
  src/CMakeLists.txt
  src/ov_extension.cpp
Labels: tokenizers_cpp, build

#417 Support GGUF, Update README.md
  README.md
  python/openvino_tokenizers/tokenizer_pipeline.py
Labels: tokenizers_py

#404 CMAKE: reuse ccache for ICU
  CMakeLists.txt
  cmake/external/icu.cmake
Labels: build

#425 [JS] Fix the rpath in the openvino-tokenizer build for npm
  src/CMakeLists.txt
Labels: tokenizers_cpp, build

#428 Allow build w/o python
  .github/workflows/windows.yml
  CMakeLists.txt
Labels: CI, build
