Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-07, with the labels that each got.

#528 Change Typing According to PEP 585
  benchmark/benchmark.py
  pyproject.toml
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/cli.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tiktoken_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/tokenizer_transformations.py
  python/openvino_tokenizers/utils.py
  tests/layer_tests.py
  tests/tokenizers_test.py
Labels: tokenizers_py, tokenizers_test, build

#530 add `Truncate` and `CombneSegments` to node factory
  src/tokenizers_factory.cpp
Labels: tokenizers_cpp

#533 add optional pad_right input to RaggedToDence op
  src/ragged_to_dense.cpp
  src/ragged_to_dense.hpp
  tests/layer_tests.py
Labels: tokenizers_cpp, tokenizers_test

#537 Remove upper bound product versions
  poetry.lock
  pyproject.toml
Labels: build
