Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-05, with the labels that each got.

#467 Poetry dependency management
  .github/actions/find_wheel/action.yml
  .github/actions/find_wheel/dist/index.js
  .github/actions/find_wheel/package-lock.json
  .github/actions/find_wheel/package.json
  .github/actions/find_wheel/src/index.js
  .github/actions/find_wheel/tests/index.test.js
  .github/actions/install_poetry/action.yml
  .github/dependabot.yml
  .github/dependency_review.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  poetry.lock
  pyproject.toml
Labels: CI, build

#482 Replace openvino.runtime import
  python/openvino_tokenizers/tokenizer_transformations.py
Labels: tokenizers_py

#490 add `number_of_inputs` to cli
  python/openvino_tokenizers/cli.py
Labels: tokenizers_py

#493 [GGUF] Create tokenizers factory for GGUF support in OpenVINO GenAI
  src/tokenizers_factory.cpp
  src/tokenizers_factory.hpp
Labels: tokenizers_cpp

#494 [GGUF] Create tokenizers factory for GGUF support in OpenVINO GenAI
  src/tokenizers_factory.cpp
  src/tokenizers_factory.hpp
Labels: tokenizers_cpp
