Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-08, with the labels that each got.

#538 [CI] [GHA] Add manylinux build
  .github/workflows/manylinux_2_28.yml
Labels: github_actions, CI

#545 Bump product version 2025.4
  CMakeLists.txt
  pyproject.toml
Labels: build

#546 [GHA] removed unused option for the new coverity version
  .github/workflows/coverity.yml
Labels: CI
