Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-03, with the labels that each got.

#432 Propagate linker flags for ICU build
  cmake/external/icu.cmake
Labels: build

#433 Add TemplateProcessor to rt_info and Update Extension Finder
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/constants.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/utils.py
Labels: tokenizers_py

#434 Fix CLI Arg Default Value
  python/openvino_tokenizers/cli.py
Labels: tokenizers_py

#435 Bump product version 2025.2
  CMakeLists.txt
  pyproject.toml
Labels: build

#438 [ICU] Set openvino compile defenitions
  cmake/external/icu.cmake
Labels: build

#439 Support complex tensors for equal
  src/tensorflow_translators.cpp
Labels: tokenizers_cpp

#442 Write into rt_info string instead of python enum object.
  python/openvino_tokenizers/utils.py
Labels: bug, tokenizers_py

#440 ICU compile flags
  cmake/external/icu.cmake
Labels: build

#447 Switch workflows to aks-linux-medium runner
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#448 Switch workflows to aks-linux-medium runner
  .github/workflows/coverity.yml
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#446 [MERGE] Ported compile flags fixes
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  cmake/external/icu.cmake
Labels: CI, build

#450 Use const pointers for const tensors
  src/bytes_to_chars.cpp
  src/regex_split.cpp
  src/special_tokens_split.cpp
  src/utf8_validate.cpp
  src/utils.cpp
Labels: tokenizers_cpp

#451 [GHA] Use separate artifacts folder structure
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: CI

#452 Bumped cmake req version
  CMakeLists.txt
Labels: build
