Repository openvinotoolkit/openvino_tokenizers, pull requests merged in 2025-01, with the labels that each got.

#365 Add information about full Tokenizers version
  CMakeLists.txt
  cmake/templates/__version__.py.in
  cmake/version.cmake
  python/openvino_tokenizers/__version__.py
Labels: tokenizers_py, build

#368 Update Bandit Flags
  pyproject.toml
Labels: build

#377 GHA: use 2025.0.0rc1
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
Labels: CI

#376 GHA: use official 2024.6.0
  .github/workflows/linux.yml
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  pyproject.toml
Labels: CI, build

#378 Replace openvino.runtime imports with openvino
  benchmark/benchmark.py
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  tests/layer_tests.py
Labels: tokenizers_py, tokenizers_test

#379 Replace openvino.runtime imports with openvino for 2025.0
  benchmark/benchmark.py
  python/openvino_tokenizers/__init__.py
  python/openvino_tokenizers/build_tokenizer.py
  python/openvino_tokenizers/convert_tokenizer.py
  python/openvino_tokenizers/hf_parser.py
  python/openvino_tokenizers/tokenizer_pipeline.py
  python/openvino_tokenizers/utils.py
  tests/layer_tests.py
Labels: tokenizers_py, tokenizers_test

#392 [GHA] Use OV provider on macOS
  .github/workflows/mac.yml
Labels: CI

#393 [GHA] Explicitly set VS 2022 version
  .github/workflows/windows.yml
Labels: CI
